h1{
    color: white;
    background-color: black;
    text-align: left;
}
h1>span{
    color: aqua;
}
h2{
    color: white;
    background-color: rebeccapurple;
    text-align: center;
}
h5{
    color: blue;
    background-color: aqua;
    text-align: end;
}