
.a button{ color: white;
    background-color: aqua;
    border-color: aqua;
    border-radius: 30%;
}
.c button{
    border-radius: 50%;
    color:white;
    background-color: aqua;
    border-color: aqua;
}
.d button{
    color: beige;
    background-color:blue;
    box-shadow: 4px 4px black ;
    

}
  