.a{
    width: 400px;
    height: 500px;
    border: 3px solid rgb(212, 209, 209);
   
    background-color:white;
}
.b{
    width: 400px;
    height: 150px;
  background-color: rgb(33, 159, 159);
}
.profile_pic img{
    height: 80px;
    position:  relative;
    bottom: 50px;
}
h1{
    font-family: sans-serif;
    font-size: 30px;
  position: relative;
  bottom: 50px;
}
.position{
    display: flex;
    align-items: center;
    height: 20px;
    position: relative;
   bottom: 40px;
   font-family: sans-serif;
   margin: 10px;
}
.position img{
    height: 32px}
 h2{
    font-family: sans-serif;
    position: relative;
    top: 2px;
    padding: 10px;
    margin: 20px;
}
.grar-pong{
    display: flex; 
    height: 30px;
    padding: 2px;
    margin: 15px;}
  